<% include ../partials/header.ejs %>

<% if (user) { %>
    <h1>Add a New Task</h1>
    <form action="/tasks/new" method="POST" autocomplete="off">
        <h6>Name your task:</h6>
        <input type="text" name="title">
        <h6>Describe your task:</h6>
        <input type="text" name="description">
        <h6>Desired completion date:</h6>
        <input type="datetime-local" name="completion">
        <input type="submit" value="Add Your Task">
    </form>
    <% } else { %>
        <h1>Login first!</h1>
    <% } %>


<% include ../partials/footer.ejs %>